<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=320, initial-scale=1.0">
        <link rel="stylesheet"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    


        <script src="https://unpkg.com/vue">  </script>
    </head>
    <body>
<div id=ap2>
            <h3>3 варианта</h3> 
                <button v-on:click="showIm">Нажмите  на кнопку</button>{{Im}} 
               <br>Нажмите на enter: <input v-on:keyup.enter="showMyIm">{{myIm}} 
               <br>Левая кнопка мыши + ctrl : <div v-on:click.ctrl="showMessage" style="min-width:100px;min-height:100px">{{Zag2}}</div>
            </div>   
<div class="center" id="ap">
    <div id="quote" v-for="qt in quotes">
        <h3 v-bind:class="qt.quote.length > 40 ? 'red' : 'black'">{{qt.quote}}</h3>  
        <h5>{{qt.source}}</h5>  
      </div>
      <br>
      <hr>
<input type="radio" name="author" v-model="isAuthor" value="exist">Є автор
<input type="radio" name="author" v-model="isAuthor" value="">Неамає автора


<br>


    <div id="quote" v-for="qt in filteredQuotes">
      <h3 v-bind:class="qt.quote.length > 40 ? 'red' : 'black'">{{qt.quote}}</h3>  
      <h5>{{qt.source}}</h5>  
    </div>
<hr>
    <br>
    <h2>  Цитати, які мають автора </h2>
    <div class="quote" v-for="qt in quotes"> 
<h3> <p v-if=" qt.source.length >= 1 "> {{qt.quote}} </p> 
<p v-else> </p>
</h3>
<h5>  {{qt.source}} </h5> 
    </div>
<hr>
    <br>

    <button v-on:click="sort()">Сортування</button>
    <div class="quote" v-for="qt in sortedQuotes">
<h3>{{qt.quote}}</h3>
<h5>{{qt.source}}</h5> 

    </div>
</div>
</div>
</div>
    </body>
    <script type="text/javascript"> 
    var quotesArray = [
{
    "quote": "Логика может привести Вас от пункта А к пункту Б, а воображение — куда угодно.",
    "source": "Albert Einstein"
},
{
    "quote": "Если вы думаете, что на что-то способны, вы правы; если думаете, что у вас ничего не получится - вы тоже правы.",
    "source": "Henry Ford"
},
{
    "quote": "Если ты хочешь построить корабль, не надо созывать людей, планировать, делить работу, доставать инструменты. Надо заразить людей стремлением к бесконечному морю. Тогда они сами построят корабль.",
    "source": ""
},
{
    "quote": "Есть только один способ избежать критики: ничего не делайте, ничего не говорите и будьте никем.",
    "source": "Aristotle"
},
{
    "quote": " Каждый хочет изменить человечество, но никто не задумывается о том, как изменить себя.",
    "source": "Leo Tolstoy"
},
{
    "quote": "Ща, подожди у меня тут печенья с предсказаниями были.... Каждый имеет для другого лишь то значение, какое тот имеет для него...",
    "source": ""
},
]
new Vue ({
el: '#ap',
data: {
    quotes: quotesArray,
    isAuthor: "",
},
computed: {
    filteredQuotes: function() {
        return this.quotes.filter(element =>{
            return Boolean(this.isAuthor) == Boolean(element.source)
        })
    }
},

methods: {
sort () {
    this.sortedQuotes = this.quotes.sort((a, b) => (a.source > b.source) ? 1 : -1)
},
}


})
var app = new Vue({
    el:'#ap2',
    data:{
       
		Im:"",
		myIm:"",
		Zag2:"",
    },
    methods:{
	   showIm: function(){
		   this.Im = "Arsir";
	   },
	   showMyIm: function(){
		   this.myIm = "Arsir";
	   },
	   showMessage: function(){
		   this.Zag2 = "Arsir";
	   },
    },
   
})
    </script>
    <style>
        .center {
            width: 28%;
           margin: 0 auto;
        }
        .red {
            color: red;
        }
        .black {
            color: black;
        }
    </style>
</html>